<a href="https://colab.research.google.com/github/paolaportilloj/Visualizaci-n-de-datos-para-la-toma-de-decisiones/blob/main/dia%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

data= {'Company':['Ford', 'Ford', 'VW','Cooper','BMW','Cooper'],
       'Stars':[1,2,3, np.nan, 1,2 ],
       'Weight': [2,4,3,5,2, None ],
       'Origin': [ 'China', 'Mexico', 'China', None, 'Mexico' , np.nan],
       'Length':[ 40, 50, 30, np.nan, 45,pd.NaT]
       }

In [5]:
df= pd.DataFrame(data)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    NaN     5.0    None    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     NaN     NaN    NaT

In [6]:
df.isnull().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [7]:
df.isnull().any(axis=1)

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [8]:
ndf=df.copy()
ndf
ndf.dropna(inplace=True)
ndf

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
4     BMW    1.0     2.0  Mexico     45

In [9]:
ndf2=df.copy()
ndf2

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    NaN     5.0    None    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     NaN     NaN    NaT

In [11]:
ndf2.dropna(how='all',inplace=True)
ndf2

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    NaN     5.0    None    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     NaN     NaN    NaT

In [15]:
ndf2.dropna(thresh=3, inplace=True)
ndf2

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
4     BMW    1.0     2.0  Mexico     45

In [17]:
df.isnull().any(axis=1)

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [18]:
favs=df.isnull().any(axis=1)

In [19]:
df[ favs]

  Company  Stars  Weight Origin Length
3  Cooper    NaN     5.0   None    NaN
5  Cooper    2.0     NaN    NaN    NaT

In [20]:
sm=df.Stars.mean()
sm
df[ 'Stars']=df['Stars' ].fillna(value=sm)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    1.8     5.0    None    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     NaN     NaN    NaT

In [34]:
wm=df.Weight.mean()
df[ 'Weight']=df['Weight' ].fillna(value=wm)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    1.8     5.0  Mexico    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     1.8  Mexico    NaT

In [24]:
om=df.Origin.mode()[ ]

In [27]:
df[ 'Origin']=df[ 'Origin'].fillna(value=om)

In [32]:
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    3.0     3.0   China     30
3  Cooper    1.8     5.0  Mexico    NaN
4     BMW    1.0     2.0  Mexico     45
5  Cooper    2.0     1.8  Mexico    NaT

In [57]:
my_pivot=pd.pivot_table(df,
               index= ['Origin'],
               values= 'Length',
               aggfunc= [ 'sum','median','mean'],
               margins=True,
               columns='Company'
              
               )

/usr/local/lib/python3.8/dist-packages/numpy/lib/nanfunctions.py:1117: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [49]:
my_pivot.columns

MultiIndex([(   'sum', 'Length'),
            ('median', 'Length'),
            (  'mean', 'Length')],
           )

In [54]:
my_pivot.loc[ :,('sum','Length')]

Origin  Company
All                165
China   Ford        40
        VW          30
Mexico  BMW         45
        Cooper       0
        Ford        50
Name: (sum, Length), dtype: int64

In [55]:
my_pivot.loc[ :,(slice(None),'Length')]

                  sum median   mean
               Length Length Length
Origin Company
All               165   42.5  41.25
China  Ford        40   40.0  40.00
       VW          30   30.0  30.00
Mexico BMW         45   45.0  45.00
       Cooper       0    NaN    NaN
       Ford        50   50.0  50.00

In [59]:
my_pivot.columns

MultiIndex([(   'sum',    'BMW'),
            (   'sum', 'Cooper'),
            (   'sum',   'Ford'),
            (   'sum',     'VW'),
            (   'sum',    'All'),
            ('median',    'BMW'),
            ('median',   'Ford'),
            ('median',     'VW'),
            ('median',    'All'),
            (  'mean',    'BMW'),
            (  'mean',   'Ford'),
            (  'mean',     'VW'),
            (  'mean',    'All')],
           names=[None, 'Company'])

In [60]:
my_pivot

          sum                         median                    mean        \
Company   BMW Cooper  Ford    VW  All    BMW  Ford    VW   All   BMW  Ford
Origin
China     NaN    NaN  40.0  30.0   70    NaN  40.0  30.0  35.0   NaN  40.0
Mexico   45.0    0.0  50.0   NaN   95   45.0  50.0   NaN  47.5  45.0  50.0
All      45.0    NaN  90.0  30.0  165   45.0  45.0  30.0  42.5  45.0  45.0


Company    VW    All
Origin
China    30.0  35.00
Mexico    NaN  47.50
All      30.0  41.25